<.header>
  <%= @front.name %>
</.header>

<%= for product <- @products do %>
  <div><%= product.title %></div>
<% end %>

<.modal :if={@live_action == :edit} id="front-modal" show on_cancel={JS.patch(~p"/fronts/#{@front}")}>
  <.live_component
    module={ShopWeb.FrontLive.FormComponent}
    id={@front.id}
    title={@page_title}
    action={@live_action}
    front={@front}
    patch={~p"/fronts/#{@front}"}
  />
</.modal>
